will try to create Delta Tables using Pyspark .As a Tables. Not as a Files or Folders

In [0]:
op = f'dbfs:/mnt/DeltaLake/Test'

df = spark.read.format('parquet').load(f'{op}/ParquetFolder')

In [0]:
#Here delta is a schema previously we created and DeltaSpark is the name of the table 
df_delta = df.write.format('delta').mode('overwrite').saveAsTable('`delta`.DeltaSpark')

In [0]:
dbutils.fs.ls('dbfs:/user/hive/warehouse/delta.db/deltaspark/_delta_log')

[FileInfo(path='dbfs:/user/hive/warehouse/delta.db/deltaspark/_delta_log/00000000000000000000.crc', name='00000000000000000000.crc', size=3405, modificationTime=1709020359000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/deltaspark/_delta_log/00000000000000000000.json', name='00000000000000000000.json', size=2507, modificationTime=1709020357000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/deltaspark/_delta_log/__tmp_path_dir/', name='__tmp_path_dir/', size=0, modificationTime=1709020357000)]

In [0]:
display(spark.read.format('text').load('dbfs:/user/hive/warehouse/delta.db/deltaspark/_delta_log/00000000000000000000.json')) #Here Operation : create table as select

value
"{""commitInfo"":{""timestamp"":1709020357473,""userId"":""4700893722167418"",""userName"":""lokeswar.valluru@xyenta.com"",""operation"":""CREATE OR REPLACE TABLE AS SELECT"",""operationParameters"":{""partitionBy"":""[]"",""description"":null,""isManaged"":""true"",""properties"":""{}"",""statsOnLoad"":false},""notebook"":{""notebookId"":""482608276354755""},""clusterId"":""1227-053858-m1tsqg19"",""isolationLevel"":""WriteSerializable"",""isBlindAppend"":false,""operationMetrics"":{""numFiles"":""1"",""numOutputRows"":""112"",""numOutputBytes"":""4851""},""tags"":{""restoresDeletedRows"":""false""},""engineInfo"":""Databricks-Runtime/13.3.x-photon-scala2.12"",""txnId"":""19bc297b-5048-4dbb-9b73-49a1ca8e35b6""}}"
"{""metaData"":{""id"":""2f34627c-132d-4c78-adc7-823172082f02"",""format"":{""provider"":""parquet"",""options"":{}},""schemaString"":""{\""type\"":\""struct\"",\""fields\"":[{\""name\"":\""Education_Level\"",\""type\"":\""string\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""Line_Number\"",\""type\"":\""integer\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""Employed\"",\""type\"":\""integer\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""Unemployed\"",\""type\"":\""integer\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""Industry\"",\""type\"":\""string\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""Gender\"",\""type\"":\""string\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""Date_Inserted\"",\""type\"":\""string\"",\""nullable\"":true,\""metadata\"":{}},{\""name\"":\""dense_rank\"",\""type\"":\""integer\"",\""nullable\"":true,\""metadata\"":{}}]}"",""partitionColumns"":[],""configuration"":{},""createdTime"":1709020356752}}"
"{""protocol"":{""minReaderVersion"":1,""minWriterVersion"":2}}"
"{""add"":{""path"":""part-00000-9470b3a1-3438-40e3-8d6e-cb5a14392523.c000.snappy.parquet"",""partitionValues"":{},""size"":4851,""modificationTime"":1709020357000,""dataChange"":true,""stats"":""{\""numRecords\"":112,\""minValues\"":{\""Education_Level\"":\""High School\"",\""Line_Number\"":141,\""Employed\"":4700,\""Unemployed\"":258,\""Industry\"":\""Construction\"",\""Gender\"":\""Female\"",\""Date_Inserted\"":\""1/1/1995\"",\""dense_rank\"":5},\""maxValues\"":{\""Education_Level\"":\""High School\"",\""Line_Number\"":1508,\""Employed\"":17630700,\""Unemployed\"":2382900,\""Industry\"":\""finance\"",\""Gender\"":\""Male\"",\""Date_Inserted\"":\""9/1/2014\"",\""dense_rank\"":556},\""nullCount\"":{\""Education_Level\"":0,\""Line_Number\"":0,\""Employed\"":0,\""Unemployed\"":0,\""Industry\"":0,\""Gender\"":0,\""Date_Inserted\"":0,\""dense_rank\"":0}}"",""tags"":{""INSERTION_TIME"":""1709020357000000"",""MIN_INSERTION_TIME"":""1709020357000000"",""MAX_INSERTION_TIME"":""1709020357000000"",""OPTIMIZE_TARGET_SIZE"":""268435456""}}}"

In [0]:
#read in pyspark

display(spark.read.format('delta').load('dbfs:/user/hive/warehouse/delta.db/deltaspark'))

Education_Level,Line_Number,Employed,Unemployed,Industry,Gender,Date_Inserted,dense_rank
High School,1463,4031000,115000,Retail Trade,Male,12/1/2000,5
High School,1462,4018000,123000,Retail Trade,Female,11/1/2000,7
High School,1461,4004000,132000,Retail Trade,Male,10/1/2000,9
High School,1460,3990000,140000,Retail Trade,Female,9/1/2000,10
High School,1459,3974000,149000,Retail Trade,Male,8/1/2000,11
High School,1458,3958000,157000,Retail Trade,Female,7/1/2000,13
High School,1457,3942000,165000,Retail Trade,Male,6/1/2000,17
High School,1456,3925000,173000,Retail Trade,Female,5/1/2000,19
High School,1455,3907000,182000,Retail Trade,Male,4/1/2000,21
High School,1439,5625,276,Technology,Male,12/1/1999,25
High School,1454,3889000,191000,Retail Trade,Female,3/1/2000,27
High School,1437,5571,274,Education,Male,10/1/1999,29
High School,1428,5200,258,Technology,Female,8/1/1999,31
High School,1426,5118,260,Education,Female,6/1/1999,36
High School,1453,3871000,199000,Retail Trade,Male,2/1/2000,38
High School,1451,5800,300,Manufacturing,Male,12/1/2000,39
High School,1508,4660495,248411,Construction,Female,9/1/2002,43
High School,1424,5022,269,Technology,Female,4/1/1999,44
High School,1452,3853000,208000,Retail Trade,Female,1/1/2000,46
High School,1448,5500,300,Retail,Female,9/1/2000,48
High School,1421,4876,269,Finance,Male,1/1/1999,54
High School,1265,12351400,710600,Retail,Female,1/1/2020,62
High School,1445,5200,300,Manufacturing,Male,6/1/2000,66
High School,1504,4627225,266990,Education,Female,5/1/2002,67
High School,1370,5295262,313570,Manufacturing,Female,10/1/1997,74
High School,1470,3877827,234000,Education,Female,7/1/2001,81
High School,1382,7498000,455000,Manufacturing,Female,10/1/1998,89
High School,1349,6685000,406000,Construction,Male,7/1/1996,91
High School,1465,3808680,232000,Healthcare,Male,2/1/2001,92
High School,1442,4900,300,Healthcare,Female,3/1/2000,97
High School,1473,3918491,240000,Healthcare,Male,10/1/2001,98
High School,1500,4600112,282730,Manufacturing,Female,1/1/2002,100
High School,1376,7386000,455000,Retail,Female,4/1/1998,102
High School,1468,3849511,238000,Technology,Female,5/1/2001,105
High School,1379,7438000,461000,Financial Services,Male,7/1/1998,107
High School,1366,5213332,326589,Health Care,Female,6/1/1997,114
High School,1373,7323000,461000,Education Services,Male,1/1/1998,117
High School,861,6622000,422000,Transportation,Female,8/1/2010,118
High School,1345,6622000,422000,Health Care,Male,5/1/1996,118
High School,832,6622000,422000,Finance,Male,1/1/2010,118
High School,1488,94000,6000,Finance,Female,1/1/2002,119
High School,1440,4700,300,Finance,Female,1/1/2000,119
High School,1491,91000,6000,Manufacturing,Male,4/1/2002,134
High School,1419,8960700,593300,Education,Male,11/1/1999,139
High School,1416,8900500,599500,Retail,Female,8/1/1999,148
High School,1341,6555000,443000,Retail,Male,3/1/1996,150
High School,837,6555000,443000,Manufacturing,Female,2/1/2010,150
High School,1361,5128562,349587,Construction,Male,1/1/1997,154
High School,1494,88000,6000,Retail,Female,7/1/2002,155
High School,1244,17630700,1209200,Manufacturing,Male,8/1/2019,162
High School,1359,8674000,595000,Retail,Male,12/1/1996,163
High School,825,3878000,267000,Finance,Female,11/1/2009,166
High School,1322,2890000,200000,Healthcare,Female,10/1/1995,172
High School,1411,8802600,609400,Retail,Male,3/1/1999,173
High School,1337,6489000,453000,Manufacturing,Male,1/1/1996,181
High School,1319,2860000,200000,Manufacturing,Male,7/1/1995,183
High School,1497,85000,6000,Technology,Male,10/1/2002,188
High School,1316,2830000,200000,Healthcare,Female,4/1/1995,190
High School,1355,8645000,616000,Healthcare,Male,10/1/1996,196
High School,1185,11778600,850500,Retail,Female,5/1/2017,203
High School,1482,3752561,271675,Healthcare,Female,7/1/2001,206
High School,1216,17378000,1262300,Manufacturing,Male,1/1/2019,210
High School,1486,3744076,272945,Retail,Female,11/1/2001,218
High School,1172,15024600,1112100,Retail,Male,2/1/2017,225
High School,1478,3740556,278840,Healthcare,Female,3/1/2001,234
High School,1333,3237700,243900,Technology,Male,9/1/1995,246
High School,1329,3231600,245200,Retail,Male,5/1/1995,254
High School,1398,3111020,237180,Retail,Female,2/1/1998,264
High School,1161,11566700,883800,Construction,Female,11/1/2016,269
High School,1325,3222600,246300,Education,Male,1/1/1995,270
High School,1149,11611300,889200,Financial Services,Female,8/1/2016,275
High School,848,378000,29000,Hospitality,Male,5/1/2010,278
High School,1402,3122690,240510,Manufacturing,Female,6/1/1998,283
High School,1406,3132460,244940,Financial Services,Female,10/1/1998,302
High School,1144,14351200,1127700,Energy,Male,7/1/2016,306
High School,1140,14301100,1127800,Technology,Male,6/1/2016,312
High School,1305,11673000,1045400,Education,Female,11/1/2020,365
High School,949,11331000,1024200,Retail,Female,6/1/2012,371
High School,1393,3335300,303900,Technology,Male,9/1/1997,375
High School,1289,12027800,1109000,Finance,Female,7/1/2020,380
High School,1390,3312500,310800,Financial Services,Female,6/1/1997,388
High School,992,14085800,1330000,Hospitality,Male,5/1/2013,392
High School,1387,3291500,313900,Healthcare,Male,3/1/1997,398
High School,984,13973800,1335800,Health Care,Male,3/1/2013,400
High School,1056,15984100,1615600,Construction,Male,9/1/2014,415
High School,1048,15914400,1646700,Professional and Business Services,Male,7/1/2014,426
High School,932,15891000,1692700,Manufacturing,Male,2/1/2012,444
High School,901,11047400,1192800,Finance,Female,6/1/2011,450
High School,965,11224400,1227200,Construction,Female,10/1/2012,456
High School,889,10925200,1212400,Construction,Female,3/1/2011,469
High School,961,81000,9000,Hospitality,Female,9/1/2012,470
High School,141,810000,90000,Retail,Female,8/1/1995,470
High School,1284,121500,13500,Technology,Male,6/1/2020,470
High School,1041,81000,9000,"Trade, Transportation, and Utilities",Female,5/1/2014,470
High School,1012,81000,9000,Retail,Male,10/1/2013,470
High School,929,81000,9000,Hospitality,Female,1/1/2012,470
High School,873,11052600,1228900,Manufacturing,Female,11/1/2010,471
High School,1025,11142500,1280400,finance,Female,1/1/2014,483
High School,997,10980700,1265900,Hospitality,Female,6/1/2013,485
High School,1093,10906500,1283100,Hospitality,Female,6/1/2015,492
High School,1430,405000,50000,Finance,Female,2/1/1999,501
High School,1433,418000,52000,Healthcare,Male,5/1/1999,504
High School,1429,400000,50000,Finance,Male,1/1/1999,505
High School,1434,422000,53000,Healthcare,Female,6/1/1999,508
High School,921,10837500,1427100,Hospitality,Female,11/1/2011,524
High School,1069,10512000,1386900,Technology,Female,12/1/2014,525
High School,1089,10633300,1410200,Education,Female,5/1/2015,528
High School,1081,10587600,1406500,Finance,Female,3/1/2015,533
High School,868,14799100,2104800,Hospitality,Male,10/1/2010,540
High School,896,16016000,2323800,Hospitality,Male,5/1/2011,546
High School,912,14723600,2199800,Manufacturing,Male,9/1/2011,553
High School,884,15860200,2382900,Finance,Male,2/1/2011,556