## Vaccum : Is used to earse the data which are no loger needed:

Example: So imagine there is a clickstream project where they want to identify the previous days data only,and they don't want to have the first days data.

>> However, deleting the data is a not an ideal option in any organization because that may have some compliance or governance issues.

>> So vacuum command is quite a dangerous command to implement because it is going to deal with deletion of this particular data.

>> So if you are getting a very high storage cost now, if your organization wish to delete the old data like a 30 days old data, you can make use of the vacuum command.

>> by default, the retention period of this vacuum command is seven days. 

>> So any data that is having the age of more than seven days that will be deleted by default using this

>> iF YOU DO VACCUM THEN TIME TRAVEL IS NOT POSSIBLE 

>> VACCUM = NO TIME TRAVEL

In [0]:
dbutils.fs.ls('/mnt/DeltaLake/Test/')

[FileInfo(path='dbfs:/mnt/DeltaLake/Test/Delta/', name='Delta/', size=0, modificationTime=1709017418000),
 FileInfo(path='dbfs:/mnt/DeltaLake/Test/ParquetFolder/', name='ParquetFolder/', size=0, modificationTime=1709016139000),
 FileInfo(path='dbfs:/mnt/DeltaLake/Test/SchemaManagementDelta.csv', name='SchemaManagementDelta.csv', size=101806, modificationTime=1709015324000),
 FileInfo(path='dbfs:/mnt/DeltaLake/Test/Temp/', name='Temp/', size=0, modificationTime=1709017143000),
 FileInfo(path='dbfs:/mnt/DeltaLake/Test/schemaevol/', name='schemaevol/', size=0, modificationTime=1709031320000)]

In [0]:
filepath = 'dbfs:/mnt/DeltaLake/Test/SchemaManagementDelta.csv'

df = spark.read.format('csv').option('Header', 'True').option('inferSchema', 'True').load(filepath)

In [0]:
df.printSchema()

root
 |-- Education_Level: string (nullable = true)
 |-- Line_Number: integer (nullable = true)
 |-- Employed: integer (nullable = true)
 |-- Unemployed: integer (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date_Inserted: string (nullable = true)
 |-- dense_rank: integer (nullable = true)

In [0]:
df.createOrReplaceTempView("df_view")

In [0]:
%sql 
-- create delta table from View 
-- create table delta.vaccumTable (
--   Using Delta
--   as
--   select * 
--   from df_view
-- )

create table delta.vaccumTable
using delta 
as
select * from df_view

In [0]:
%sql
select * from `delta`.vaccumtable where Industry = 'Finance'

Education_Level,Line_Number,Employed,Unemployed,Industry,Gender,Date_Inserted,dense_rank
Bachelor's Degree,371,192000,8000,Finance,Female,5/1/2000,16
Master's Degree,702,81000,4000,Finance,Male,4/1/2007,30
Bachelor's Degree,506,93300,4700,Finance,Male,3/1/2003,32
Bachelor's Degree,1425,5079,257,Finance,Male,5/1/1999,34
Master's Degree,579,62000,3400,Finance,Female,9/1/2004,52
High School,1421,4876,269,Finance,Male,1/1/1999,54
Graduate,1447,5400,300,Finance,Male,8/1/2000,57
College,1505,4634769,262653,Finance,Male,6/1/2002,60
Bachelor's Degree,805,12100000,700000,Finance,Female,6/1/2009,68
High School Diploma,789,12000000,700000,Finance,Female,2/1/2009,70
Master's Degree,1471,3892329,236000,Finance,Male,8/1/2001,87
Bachelor's Degree,1475,3946542,243000,Finance,Male,12/1/2001,101
Bachelor's Degree,1467,3830349,239000,Finance,Male,4/1/2001,111
Bachelor's Degree,813,6622000,422000,Finance,Female,8/1/2009,118
Associate's Degree,683,6622000,422000,Finance,Female,11/1/2006,118
High School,832,6622000,422000,Finance,Male,1/1/2010,118
High School,1488,94000,6000,Finance,Female,1/1/2002,119
High School,1440,4700,300,Finance,Female,1/1/2000,119
Bachelor's Degree,347,79875,5125,Finance,Female,11/1/1999,121
High School Diploma,574,3929000,254000,Finance,Male,8/1/2004,124
High School Diploma,797,3929000,254000,Finance,Female,4/1/2009,124
Bachelor's Degree,836,3909000,253000,Finance,Male,2/1/2010,125
Master's Degree,866,6590000,429000,Finance,Male,9/1/2010,127
Bachelor's Degree,796,6590000,429000,Finance,Male,4/1/2009,127
Associate's Degree,768,18250000,1200000,Finance,Male,9/1/2008,131
Bachelor's Degree,467,84375,5625,Finance,Female,5/1/2002,142
Bachelor's Degree,369,84375,5625,Finance,Female,5/1/2000,142
Master's Degree,1493,89000,6000,Finance,Male,6/1/2002,149
Master's Degree,809,6555000,443000,Finance,Female,7/1/2009,150
Bachelor's Degree,644,6524000,447000,Finance,Male,2/1/2006,160
High School Diploma,806,3878000,267000,Finance,Male,6/1/2009,166
High School,825,3878000,267000,Finance,Female,11/1/2009,166
High School Diploma,357,79500,5500,Finance,Female,2/1/2000,171
Master's Degree,603,112200,7800,Finance,Female,3/1/2005,178
Bachelor's Degree,345,72840,5160,Finance,Female,11/1/1999,191
Bachelor's Degree,1498,84000,6000,Finance,Female,11/1/2002,197
College,1484,3748776,272147,Finance,Female,9/1/2001,209
College,1476,3738191,281207,Finance,Female,1/1/2001,243
Associate's Degree,591,378000,29000,Finance,Female,12/1/2004,278
High School Diploma,281,425000,33000,Finance,Female,7/1/1998,291
Bachelor's Degree,266,316000,25000,Finance,Male,3/1/1998,316
Bachelor's Degree,264,8154000,646000,Finance,Male,3/1/1998,317
High School Diploma,224,8929000,713000,Finance,Female,5/1/1997,324
Associate's Degree,551,14181000,1140000,Finance,Female,2/1/2004,326
Master's Degree,546,14181000,1140000,Finance,Male,1/1/2004,326
High School Diploma,560,8047500,652500,Finance,Male,5/1/2004,332
Associate's Degree,700,8047500,652500,Finance,Male,4/1/2007,332
Bachelor's Degree,252,8047500,652500,Finance,Male,12/1/1997,332
Bachelor's Degree,254,8047500,652500,Finance,Male,12/1/1997,332
Master's Degree,214,10546000,858000,Finance,Male,2/1/1997,333
Bachelor's Degree,688,10546000,858000,Finance,Male,1/1/2007,333
High School Diploma,527,83000,7000,Finance,Female,8/1/2003,346
Master's Degree,862,82800,7200,Finance,Male,8/1/2010,354
Associate's Degree,671,82800,7200,Finance,Female,8/1/2006,354
Master's Degree,622,101200,8800,Finance,Male,8/1/2005,354
High School Diploma,666,82800,7200,Finance,Male,7/1/2006,354
Bachelor's Degree,612,138000,12000,Finance,Male,6/1/2005,354
High School Diploma,750,82800,7200,Finance,Male,4/1/2008,354
Associate's Degree,607,101200,8800,Finance,Female,4/1/2005,354
Master's Degree,934,82800,7200,Finance,Male,2/1/2012,354
Master's Degree,694,82800,7200,Finance,Male,2/1/2007,354
Master's Degree,630,82800,7200,Finance,Male,10/1/2005,354
Master's Degree,430,91000,8000,Finance,Male,8/1/2001,357
Bachelor's Degree,993,11188300,984400,Finance,Female,5/1/2013,358
High School Diploma,717,183800,16200,Finance,Female,8/1/2007,360
Master's Degree,4,110000,10000,Finance,Male,2/1/2021,374
High School,1289,12027800,1109000,Finance,Female,7/1/2020,380
Bachelor's Degree,941,11237900,1042300,Finance,Female,4/1/2012,383
Bachelor's Degree,402,68500,6500,Finance,Male,1/1/2001,397
Master's Degree,322,76600,7400,Finance,Male,5/1/1999,405
Bachelor's Degree,388,107000,11000,Finance,Male,10/1/2000,422
Bachelor's Degree,150,107000,11000,Finance,Male,10/1/1995,422
Bachelor's Degree,723,68000,7000,Finance,Female,9/1/2007,423
High School Diploma,167,68000,7000,Finance,Female,2/1/1996,423
College,885,10993700,1153800,Finance,Female,2/1/2011,439
Bachelor's Degree,905,11024500,1167400,Finance,Female,7/1/2011,442
Master's Degree,476,135500,14500,Finance,Male,8/1/2002,447
High School Diploma,447,56000,6000,Finance,Female,12/1/2001,448
High School,901,11047400,1192800,Finance,Female,6/1/2011,450
Master's Degree,818,11224400,1227200,Finance,Male,9/1/2009,456
Master's Degree,10,739000,81000,Finance,Male,3/1/2021,460
Master's Degree,120,739000,81000,Finance,Male,3/1/1995,460
College,865,11122700,1230900,Finance,Female,9/1/2010,466
Associate's Degree,576,126000,14000,Finance,Male,9/1/2004,470
Associate's Degree,482,81000,9000,Finance,Male,9/1/2002,470
Master's Degree,76,99000,11000,Finance,Male,8/1/2022,470
Master's Degree,428,103500,11500,Finance,Male,8/1/2001,470
Master's Degree,332,103500,11500,Finance,Male,8/1/1999,470
Bachelor's Degree,665,76500,8500,Finance,Female,7/1/2006,470
Bachelor's Degree,20,153000,17000,Finance,Male,6/1/2021,470
Bachelor's Degree,660,126000,14000,Finance,Male,6/1/2006,470
High School Diploma,615,108000,12000,Finance,Female,6/1/2005,470
Associate's Degree,468,132300,14700,Finance,Male,6/1/2002,470
Master's Degree,132,805500,89500,Finance,Male,6/1/1995,470
High School Diploma,753,185400,20600,Finance,Female,5/1/2008,470
Bachelor's Degree,656,103500,11500,Finance,Male,5/1/2006,470
Master's Degree,416,126000,14000,Finance,Male,5/1/2001,470
Master's Degree,320,103500,11500,Finance,Male,5/1/1999,470
High School Diploma,177,67500,7500,Finance,Female,5/1/1996,470
Bachelor's Degree,749,182700,20300,Finance,Female,4/1/2008,470
Master's Degree,104,112500,12500,Finance,Male,3/1/2023,470
Bachelor's Degree,600,144000,16000,Finance,Male,3/1/2005,470
Associate's Degree,456,130500,14500,Finance,Male,3/1/2002,470
High School Diploma,103,76500,8500,Finance,Female,2/1/2023,470
Master's Degree,52,108000,12000,Finance,Male,2/1/2022,470
High School Diploma,693,76500,8500,Finance,Female,2/1/2007,470
High School Diploma,165,76500,8500,Finance,Female,2/1/1996,470
High School Diploma,1118,207000,23000,Finance,Male,12/1/2015,470
Bachelor's Degree,780,121500,13500,Finance,Male,12/1/2008,470
High School Diploma,781,81000,9000,Finance,Female,12/1/2008,470
Bachelor's Degree,588,675000,75000,Finance,Male,12/1/2004,470
Bachelor's Degree,541,81000,9000,Finance,Female,12/1/2003,470
High School Diploma,445,81000,9000,Finance,Female,12/1/2001,470
Master's Degree,40,103500,11500,Finance,Male,11/1/2021,470
Bachelor's Degree,677,72000,8000,Finance,Female,10/1/2006,470
Bachelor's Degree,580,103500,11500,Finance,Male,10/1/2004,470
Bachelor's Degree,390,155700,17300,Finance,Male,10/1/2000,470
Master's Degree,149,85500,9500,Finance,Female,10/1/1995,470
High School Diploma,3,76500,8500,Finance,Female,1/1/2021,470
High School Diploma,737,174600,19400,Finance,Female,1/1/2008,470
High School Diploma,909,11025900,1227400,Finance,Female,8/1/2011,472
High School Diploma,893,10966800,1224900,Finance,Female,4/1/2011,473
Bachelor's Degree,398,53000,6000,Finance,Male,12/1/2000,477
Bachelor's Degree,817,9581500,1108800,Finance,Female,9/1/2009,487
High School,1430,405000,50000,Finance,Female,2/1/1999,501
College,833,9516400,1178500,Finance,Female,1/1/2010,502
High School,1429,400000,50000,Finance,Male,1/1/1999,505
Master's Degree,78,133100,16900,Finance,Male,8/1/2022,515
College,913,10936700,1417900,Finance,Female,9/1/2011,520
High School,1081,10587600,1406500,Finance,Female,3/1/2015,533
Bachelor's Degree,824,11937500,1602900,Finance,Male,11/1/2009,535
Bachelor's Degree,583,15576000,2102400,Finance,Female,10/1/2004,536
College,904,15994200,2281900,Finance,Male,7/1/2011,541
Bachelor's Degree,900,16024600,2307600,Finance,Male,6/1/2011,543
Bachelor's Degree,908,15941800,2303800,Finance,Male,8/1/2011,544
High School Diploma,678,16805000,2445000,Finance,Male,10/1/2006,547
Master's Degree,738,16805000,2445000,Finance,Male,1/1/2008,547
Bachelor's Degree,892,15985300,2360300,Finance,Male,4/1/2011,550
Bachelor's Degree,924,14596300,2189300,Finance,Male,12/1/2011,555
High School,884,15860200,2382900,Finance,Male,2/1/2011,556
Bachelor's Degree,192,52700,9300,Finance,Male,9/1/1996,561
High School Diploma,283,123250,21750,Finance,Female,7/1/1998,561
Bachelor's Degree,565,76500,13500,Finance,Female,6/1/2004,561
Associate's Degree,471,56950,10050,Finance,Female,6/1/2002,561
Associate's Degree,513,56950,10050,Finance,Female,5/1/2003,561
High School Diploma,226,39100,6900,Finance,Female,5/1/1997,561
Bachelor's Degree,557,85000,15000,Finance,Female,4/1/2004,561
Bachelor's Degree,549,89250,15750,Finance,Female,2/1/2004,561
Master's Degree,212,56100,9900,Finance,Male,2/1/1997,561
High School Diploma,534,140250,24750,Finance,Male,10/1/2003,561
Master's Degree,594,56950,10050,Finance,Male,1/1/2005,561
High School Diploma,179,67500,12500,Finance,Female,5/1/1996,562
High School Diploma,619,80750,17250,Finance,Female,7/1/2005,570
Master's Degree,571,80750,17250,Finance,Female,7/1/2004,570
Master's Degree,88,98000,22000,Finance,Male,11/1/2022,574
Master's Degree,718,34900,7900,Finance,Male,8/1/2007,575
Bachelor's Degree,586,34900,7900,Finance,Male,11/1/2004,575
Bachelor's Degree,194,52700,13300,Finance,Male,9/1/1996,579
Master's Degree,334,142000,38000,Finance,Male,8/1/1999,581
Bachelor's Degree,788,200000,70000,Finance,Male,2/1/2009,588
Master's Degree,418,34200,17800,Finance,Male,5/1/2001,598
Bachelor's Degree,278,73950,44050,Finance,Male,6/1/1998,601
Bachelor's Degree,769,250000,200000,Finance,Female,9/1/2008,605
Associate's Degree,515,56950,53050,Finance,Female,5/1/2003,606
Master,2,6500,500,Finance,Female,2023-07-12,2

## Performing Multiple Inserts in differenct cells. 
>> To understand each commit will be become spearate operation in Transaction log

In [0]:
%sql
INSERT INTO `delta`.deltafile
VALUES
    ('Bachelor', 1, 4500, 500, 'IT', 'Male', '2023-07-12',  1)

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO `delta`.vaccumtable
VALUES
    
    ('Master', 2, 6500, 500, 'Finance', 'Female', '2023-07-12', 2)

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO `delta`.vaccumtable
VALUES
 
    ('High School', 3, 3500, 500, 'Retail', 'Male', '2023-07-12', 3)

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO `delta`.vaccumtable
VALUES
    ('PhD', 4, 5500, 500, 'Healthcare', 'Female', '2023-07-12', 4);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql

## Performing multiple Updates

In [0]:
%sql 

update `delta`.vaccumtable
set Education_Level = 'Phd'
where Industry = 'Finance';

num_affected_rows
165

In [0]:
%sql
-- perfomrm delete 

DELETE from `delta`.vaccumtable
where Education_Level = 'Phd'

num_affected_rows
165

In [0]:
%sql
DESCRIBE HISTORY `delta`.vaccumtable

version,timestamp,userId,userName,operation,operationParameters,job,notebook,clusterId,readVersion,isolationLevel,isBlindAppend,operationMetrics,userMetadata,engineInfo
7,2024-02-28T06:33:44Z,4700893722167418,lokeswar.valluru@xyenta.com,DELETE,"Map(predicate -> [""(Education_Level#7056 = Phd)""])",null,List(3765828261440188),1227-053858-m1tsqg19,6,WriteSerializable,false,"Map(numRemovedFiles -> 2, numRemovedBytes -> 28170, numCopiedRows -> 1360, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 786, numDeletedRows -> 165, scanTimeMs -> 370, numAddedFiles -> 1, numAddedBytes -> 24031, rewriteTimeMs -> 416)",null,Databricks-Runtime/13.3.x-photon-scala2.12
6,2024-02-28T06:32:58Z,4700893722167418,lokeswar.valluru@xyenta.com,UPDATE,"Map(predicate -> [""(Industry#6442 = Finance)""])",null,List(3765828261440188),1227-053858-m1tsqg19,5,WriteSerializable,false,"Map(numRemovedFiles -> 2, numRemovedBytes -> 27963, numCopiedRows -> 1360, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 977, scanTimeMs -> 334, numAddedFiles -> 2, numUpdatedRows -> 165, numAddedBytes -> 28170, rewriteTimeMs -> 643)",null,Databricks-Runtime/13.3.x-photon-scala2.12
5,2024-02-28T06:31:34Z,4700893722167418,lokeswar.valluru@xyenta.com,UPDATE,"Map(predicate -> [""(Industry#5715 = Networking)""])",null,List(3765828261440188),1227-053858-m1tsqg19,4,WriteSerializable,false,"Map(numRemovedFiles -> 0, numRemovedBytes -> 0, numCopiedRows -> 0, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 171, scanTimeMs -> 171, numAddedFiles -> 0, numUpdatedRows -> 0, numAddedBytes -> 0, rewriteTimeMs -> 0)",null,Databricks-Runtime/13.3.x-photon-scala2.12
4,2024-02-28T06:31:19Z,4700893722167418,lokeswar.valluru@xyenta.com,WRITE,"Map(mode -> Append, statsOnLoad -> false, partitionBy -> [])",null,List(3765828261440188),1227-053858-m1tsqg19,3,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1951)",null,Databricks-Runtime/13.3.x-photon-scala2.12
3,2024-02-28T06:31:13Z,4700893722167418,lokeswar.valluru@xyenta.com,WRITE,"Map(mode -> Append, statsOnLoad -> false, partitionBy -> [])",null,List(3765828261440188),1227-053858-m1tsqg19,2,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1961)",null,Databricks-Runtime/13.3.x-photon-scala2.12
2,2024-02-28T06:31:11Z,4700893722167418,lokeswar.valluru@xyenta.com,WRITE,"Map(mode -> Append, statsOnLoad -> false, partitionBy -> [])",null,List(3765828261440188),1227-053858-m1tsqg19,1,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1, numOutputBytes -> 1949)",null,Databricks-Runtime/13.3.x-photon-scala2.12
1,2024-02-28T06:29:50Z,4700893722167418,lokeswar.valluru@xyenta.com,UPDATE,"Map(predicate -> [""(Industry#3726 = Networking)""])",null,List(3765828261440188),1227-053858-m1tsqg19,0,WriteSerializable,false,"Map(numRemovedFiles -> 0, numRemovedBytes -> 0, numCopiedRows -> 0, numDeletionVectorsAdded -> 0, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, executionTimeMs -> 808, scanTimeMs -> 781, numAddedFiles -> 0, numUpdatedRows -> 0, numAddedBytes -> 0, rewriteTimeMs -> 0)",null,Databricks-Runtime/13.3.x-photon-scala2.12
0,2024-02-28T06:23:04Z,4700893722167418,lokeswar.valluru@xyenta.com,CREATE TABLE AS SELECT,"Map(partitionBy -> [], description -> null, isManaged -> true, properties -> {}, statsOnLoad -> false)",null,List(3765828261440188),1227-053858-m1tsqg19,null,WriteSerializable,true,"Map(numFiles -> 1, numOutputRows -> 1524, numOutputBytes -> 26014)",null,Databricks-Runtime/13.3.x-photon-scala2.12

>> in order to know how many files will be deleted, you can make use of the dry run feature in the Vaccum

In [0]:
dbutils.fs.ls('dbfs:/user/hive/warehouse/delta.db/vaccumtable') #here total 7 parquet files created due to sperate operations

[FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/_delta_log/', name='_delta_log/', size=0, modificationTime=1709101374000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00000-1823be1c-f655-4756-b330-3c6c890403a3.c000.snappy.parquet', name='part-00000-1823be1c-f655-4756-b330-3c6c890403a3.c000.snappy.parquet', size=1951, modificationTime=1709101878000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00000-58367f2c-f3d7-414c-897e-5f6132f9907a.c000.snappy.parquet', name='part-00000-58367f2c-f3d7-414c-897e-5f6132f9907a.c000.snappy.parquet', size=1961, modificationTime=1709101873000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00000-79116b00-b930-46de-8f9e-bd4d5d9ae1a2.c000.snappy.parquet', name='part-00000-79116b00-b930-46de-8f9e-bd4d5d9ae1a2.c000.snappy.parquet', size=24031, modificationTime=1709102024000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00000-c63152b2-02fc-4155-83ef-167b5be29ee9.c000.snappy.parquet', name='part-00000-c63152b2-02fc-4155-83ef-167b5be29ee9.c000.snappy.parquet', size=1949, modificationTime=1709101870000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00000-dd05b318-d3ad-4341-be53-1ecd06defa84.c000.snappy.parquet', name='part-00000-dd05b318-d3ad-4341-be53-1ecd06defa84.c000.snappy.parquet', size=26014, modificationTime=1709101375000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00000-e9a35eac-cb5d-423b-810d-4e8f9c8cb0cf.c000.snappy.parquet', name='part-00000-e9a35eac-cb5d-423b-810d-4e8f9c8cb0cf.c000.snappy.parquet', size=26187, modificationTime=1709101978000),
 FileInfo(path='dbfs:/user/hive/warehouse/delta.db/vaccumtable/part-00001-e0f62a07-ffd6-47fb-8691-51ba7c4f1331.c000.snappy.parquet', name='part-00001-e0f62a07-ffd6-47fb-8691-51ba7c4f1331.c000.snappy.parquet', size=1983, modificationTime=1709101978000)]

In [0]:
%sql

VACUUM `delta`.vaccumtable DRY RUN 

-- IT WON'T RETURN ANY RESULT BECAUSE WE DON'T HAVE DATA FROM PREVIOUS 7 DAYS OLD